<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_Core;User ID=coreuser;Password=Test12345" />
  <add name="master" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_Master;User ID=masteruser;Password=Test12345" />
  <add name="web" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_Web;User ID=webuser;Password=Test12345" />
  <add name="messaging" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_Messaging;User ID=messaginguser;Password=Test12345" />
  <add name="xconnect.collection" connectionString="https://tac.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=F8507DFD2BD2E2695AF0AF6EBA67193BDE5CD275" />
  <add name="xdb.referencedata" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_ReferenceData;User ID=referencedatauser;Password=Test12345" />
  <add name="xdb.referencedata.client" connectionString="https://tac.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=F8507DFD2BD2E2695AF0AF6EBA67193BDE5CD275" />
  <add name="xdb.processing.pools" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_Processing.Pools;User ID=poolsuser;Password=Test12345" />
  <add name="reporting" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_Reporting;User ID=reportinguser;Password=Test12345" />
  <add name="xdb.processing.tasks" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_Processing.Tasks;User ID=tasksuser;Password=Test12345" />
  <add name="xdb.marketingautomation" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_MarketingAutomation;User ID=marketingautomationuser;Password=Test12345" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://tac.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=F8507DFD2BD2E2695AF0AF6EBA67193BDE5CD275" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://tac.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=F8507DFD2BD2E2695AF0AF6EBA67193BDE5CD275" />
  <add name="experienceforms" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_ExperienceForms;User ID=formsuser;Password=Test12345" />
  <add name="exm.master" connectionString="Data Source=SitecoreVM;Initial Catalog=tac_EXM.Master;User ID=exmmasteruser;Password=Test12345" />
  <add name="EXM.CryptographicKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
  <add name="EXM.AuthenticationKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
</connectionStrings>